/* Main Content Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffa600;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #027c92;
    border: 1px solid #fdc200;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    line-height: 1.5;
}

/* Sidebar Styles */

.toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 60px;
}

.toolbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
}

.toolbar a:hover {
    background-color: #575757;
}