/* Main Content Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF6E9;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, teal, orange);
}

.container {
    padding: 20px;
    background-color: #80C4E9;
    border: 1px solid #604CC3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: fit-content;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #313131;
    line-height: 1.5;
}

/* Sidebar Styles */

.toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF7F3E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 60px;
}

.toolbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: inline-block;
}

.toolbar a:hover {
    background-color: #575757;
}

.picture_container {
    position: relative;
    padding-top: 80px;
}

.picture_container img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.self_portrait {
    position: relative;
    width: 30%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Project Container */

.project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Project classes */

.project {
    margin-top: 20px;
    padding: 20px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project img {
    width: 20%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: right;
}

.text {
    font-size: 20px;
    padding-right: 20px;
}

.text h2 {
    color: #333;
    margin-bottom: 10px;
}

.text h3 {
    color: #333;
    margin-bottom: 10px;
}